---
layout: default
title: Temasys
---

<section id="home">
    <h1>Build a web that communicates.</h1>
    <p>With WebRTC and Open Source from Temasys</p>
    <button onclick="window.location = 'http://developer.temasys.com.sg/console';">Manage Your Apps</button>
</section>


<section id="projects">

    <ul>
        <li class="project" onclick="window.location = 'http://github.com/Temasys/SkywayJS';">
            <h2><img src="resources/img/skywayjs.svg" alt="SkywayJS" /></h2>
            <p class="desc">Teach your web-app how to talk peer-to-peer. Audio, video, data and much more.</p>
            <p>
                <a href="https://github.com/Temasys/SkywayJS#skywayjs">Getting Started</a> &nbsp; &#9642; &nbsp;
                <a href="http://developer.temasys.com.sg/doc">Documentation</a> &nbsp; &#9642; &nbsp;
                <a href="http://developer.temasys.com.sg/demo/">Demos</a>
            </p>
        </li>
        <li class="project" onclick="window.location = 'http://github.com/Temasys/AdapterJS';">
            <h2><img src="resources/img/adapterjs.svg" alt="AdapterJS" style="height: 38px;" /></h2>
            <p class="desc">A library of polyfills and helpers so you can use WebRTC the same way in all browsers.</p>
            <p>
                <a href="https://github.com/Temasys/AdapterJS#setup-this-project">Getting Started</a> &nbsp; &#9642; &nbsp;
                <a href="https://github.com/Temasys/AdapterJS#adapterjs">Documentation</a>
            </p>
        </li>
    </ul>

</section>


<!-- Show last 5 posts here -->
<section id="posts">
{% for post in paginator.posts %}
	<article>

        <header>
            <h2><a href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a></h2>
            <span class="date"><time datetime="{{post.date|date:"%F"}}">{{post.date|date:"%b %d, %Y"}}</time></span>
            <span class="author">by {% if post.author %}{{post.author}}{% else %}{{site.author}}{% endif%}</span>
        </header>

		<div class="entry">{{ post.excerpt }}</div>

	</article>
{% endfor %}

    <div id="paginator">
        {% if paginator.next_page %}
                <a href="{{site.baseurl}}page{{paginator.next_page}}">
                &laquo; Older Posts</a>
        {% endif %}

        {% if paginator.previous_page %}
            {% if paginator.previous_page == 1 %}
                    <span class="more">
                    <a href="{{site.baseurl}}">
                    Newer Posts &raquo; </a>
                    </span>
            {% else %}
                    <span class="more">
                    <a href="{{site.baseurl}}page{{paginator.previous_page}}">
                    Newer Posts &raquo; </a>
                    </span>
            {% endif %}
        {% endif %}
    </div>
</section>
