---
layout: default
title: Temasys
---

<section id="home">
    <h1>Build a web that communicates.</h1>
    <p>With WebRTC and Open Source from Temasys</p>
    <button onclick="window.location = 'https://developer.temasys.com.sg';">Get Your API keys</button>
</section>


<section id="projects">

    <ul>
        <li class="project" onclick="window.location = 'https://github.com/Temasys/SkylinkJS';">
            <h2><img src="resources/img/skylinkjs.svg" alt="SkylinkJS" style="height: 50px; position: relative; top: 3px;"/></h2>
            <p class="desc">Teach your web-app how to talk peer-to-peer. Audio, video, data and much more.</p>
            <p>
                <a href="how-to/2014/08/08/Getting_started_with_WebRTC_and_SkylinkJS/">Getting Started</a> &nbsp; &#9642; &nbsp;
                <a href="http://cdn.temasys.com.sg/skylink/skylinkjs/latest/doc/classes/Skylink.html">API Docs</a> &nbsp; &#9642; &nbsp;
                <a href="https://github.com/Temasys/SkylinkJS/releases">Versions</a>
            </p>
        </li>
        <li class="project" onclick="window.location = 'https://github.com/Temasys/AdapterJS';">
            <h2><img src="resources/img/adapterjs.svg" alt="AdapterJS" style="height: 38px;" /></h2>
            <p class="desc">A library of polyfills and helpers so you can use WebRTC the same way in all browsers.</p>
            <p>
                <a href="https://github.com/Temasys/AdapterJS#setup-this-project">Setup</a> &nbsp; &#9642; &nbsp;
                <a href="https://github.com/Temasys/AdapterJS#adapterjs">Documentation</a>
            </p>
        </li>
        <li class="project" onclick="window.location = 'https://github.com/Temasys/getaroom';">
            <h2><span style="color: #333; font-family: Lobster; font-size 4.5em; text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff, 2px 2px 0 #fff, 3px 3px 0 #fff, 4px 4px 0 #fff, 5px 5px 0 #fff;">getaroom.io</span></h2>
            <p class="desc">Invite others into a conference call, just by sharing a link. Built with SkylinkJS.</p>
            <p>
                <a href="https://github.com/Temasys/getaroom">Source</a> &nbsp; &#9642; &nbsp;
                <a href="http://getaroom.io">Try it out</a>
            </p>
        </li>
    </ul>

</section>


<!-- Show last 5 posts here -->
<section id="posts">
{% for post in paginator.posts %}
	<article>

        <header>
            <h2><a href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a></h2>
            <span class="date"><time datetime="{{post.date|date:"%F"}}">{{post.date|date:"%b %d, %Y"}}</time></span>
            <span class="author">by {% if post.author %}{{post.author}}{% else %}{{site.author}}{% endif%}</span>
        </header>

		<div class="entry">{{ post.excerpt }}</div>
        <a href="{{site.baseurl}}{{post.url}}">Read the article...</a>

	</article>
{% endfor %}

    <div id="paginator">
        {% if paginator.next_page %}
                <a href="{{site.baseurl}}page{{paginator.next_page}}">
                &laquo; Older Posts</a>
        {% endif %}

        {% if paginator.previous_page %}
            {% if paginator.previous_page == 1 %}
                    <span class="more">
                    <a href="{{site.baseurl}}">
                    Newer Posts &raquo; </a>
                    </span>
            {% else %}
                    <span class="more">
                    <a href="{{site.baseurl}}page{{paginator.previous_page}}">
                    Newer Posts &raquo; </a>
                    </span>
            {% endif %}
        {% endif %}
    </div>
</section>
