body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

#app > header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #eee;
    border-bottom: 1px solid #bbb;
    box-shadow: 1px 1px 3px rgba(0,0,0,.2);
    height: 63px;
    z-index: 48;
}

#app > header > div {
    width: 780px;
    padding-top: 2px;
    margin: 0 auto;
}

#app > header img {
    height: 50px;
    display: inline-block;
    vertical-align: top;
    margin-left: -10px;
}

#app > header h1 {
    font-weight: 300;
    font-size: 1.5em;
    line-height: 1.2em;
    display: inline-block;
}

#app > header a {
    color: #333;
    text-shadow: -1px -1px 0 #eee;
    text-decoration: none;
    z-index: 92;
    position: relative;
}

a {
    color: darkblue;
}

h1 {
    font-size: 3em;
    font-weight: 200;
    text-shadow: 1px 1px 1px #aaa;
}

h2 {
    color: #222;
    font-size: 2.5em;
    line-height: 1em;
    font-weight: 200;
}

hr {
    margin-left: 0;
    padding-left: 0;
	width: 100%;
	width: 780px;
    border: 0;
    border-top: 1px solid #ccc;
}

pre {
    margin-top: 0;
    background: #f8f8f8;
    border-radius: 4px;
    padding: 4px;
    line-height: 1.2em;
}

em {
    font-family: 'Courier New', serif;
    font-size: .9em;
    border-radius: 4px;
    background: #f8f8f8;
    padding: 2px 4px;
    font-style: normal;
    vertical-align: middle;
}

strong {
    font-weight: 400;
}

ul > li {
    padding-bottom: 15px;
}

table {
    border: none;
}

td {
    vertical-align: top;
    padding: 0 5px 15px;
}

td.date, td.categories {
    width: 100px;
    font-weight: 200;
}

.category > a:before {
    content: "#";
}

td.title {
    width: 200px;
}

a:hover {
    color: #696969;
}

#app > main {
	width: 780px;
	margin: 0 auto;
    padding-top: 63px;
	display: block;
}

#app > main > section {
    margin-bottom: 50px;
}

#app > nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 50;
}

#app > nav > ul {
	position: relative;
    width: 780px;
    margin: 0 auto;
    top: 0px;
}

#app > nav > ul > li {
    float: right;
    height: 43px;
    list-style: none;
    padding: 10px;
    line-height: 43px;
    font-size: .9em;
    margin: 0;
}

#app > nav .console a {
    background: #00AAA4;
    color: #fff;
    padding: 5px 12px;
    font-size: 0.9em;
    border: 0;
    font-weight: 700;
    box-shadow: 1px 1px 1px #006662;
    border-radius: 3px;
    cursor: pointer;
    text-shadow: none;
}

nav a,
nav a:visited,
nav a:active {
    color: #555;
    font-weight: 700;
    text-shadow: -1px -1px 0 #eee;
    text-decoration: none;
}

nav a:hover {
    color: #000;
}

nav.submenu {
    float: right;
    margin: -55px 0px 0;
    font-size: .9em;
    text-shadow: none;
}

nav.submenu a {
    font-weight: 300;
}

#home {
    height: 335px;
    position: relative;
    background: url(resources/img/landscape.svg);
    margin-bottom: 0 !important;
}

#home h1 {
    position: absolute;
    width: 100%;
    top: 23%;
    text-align: center;
    font-size: 3.3em;
}

#home p {
    position: absolute;
    width: 100%;
    top: 51%;
    text-align: center;
}

#home button {
    position: absolute;
    left: 50%;
    top: 75%;
    width: 240px;
    margin: 0 -120px;
    background: #00AAA4;
    color: #fff;
    padding: 10px 25px;
    font-size: 0.9em;
    border: 0;
    font-weight: 700;
    box-shadow: 1px 2px 1px #006662;
    border-radius: 3px;
    cursor: pointer;
    outline: 0;
}


#projects ul {
    padding: 0;
    margin: 0;
}

#projects li {
    display: inline-block;
    list-style: none;
    padding: 0 25px;
    background: #eee;
    border: 1px solid #bbb;
    box-shadow: 1px 1px 3px rgba(0,0,0,.2);
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    margin-right: 25px;
    width: 375px;
    height: 200px;
    vertical-align: middle;
}

#projects li:last-child {
    margin-right: -2px;
}

.project h2 {
    font-weight: 500;
    text-shadow: -1px -1px 1px #eee;
    letter-spacing: -2px;
}

.project h2 img {
    height: 45px;
    margin: -10px 0;
}

.project .desc {
    height: 2em;
}

footer {
	clear: both;
	width: 100%;
}

article {
	margin: 10px 0;
}

article h2 > a,
article h2 > a:visited,
article h2 > a:active {
    color: #222;
    text-decoration: none;
}

.entry {
	padding: 10px 0;
    font-weight: 300;
    font-size: 1.1em;
    line-height: 1.5em;
}

article .entry img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

article header span {
	margin-right: 3px;
    color: #aaa;
    font-weight: 300;
}

article header h2, .post h2 {
    margin-bottom: 8px;
}

section address {
    margin-left: 15px;
}

#paginator {
    padding: 10px;
}

#paginator a {
    text-decoration: none;
}

.more {
    margin-left: 80%;
}

#app > footer {
    width: 100%;
}

#app > footer > div {
    width: 780px;
    margin: 0 auto;
    padding: 10px;
    color: #aaa;
    font-weight: 300;
}

.cp_embed_iframe {
    border: 1px solid #ddd;
    border-radius: 2px;
}
