body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

#app > header {
    width: 100%;
    background: #eee;
    border-bottom: 1px solid #bbb;
    box-shadow: 1px 1px 3px rgba(0,0,0,.2);
    height: 63px;
}

#app > header > div {
    width: 780px;
    padding-top: 2px;
    margin: 0 auto;
}

#app > header img {
    height: 50px;
    display: inline-block;
    vertical-align: top;
    margin-left: -10px;
}

#app > header h1 {
    font-weight: 300;
    font-size: 1.5em;
    line-height: 1.2em;
    display: inline-block;
}

#app > header a {
    color: #333;
    text-shadow: -1px -1px 0 #eee;
    text-decoration: none;
}

h1 {
    font-size: 3em;
    font-weight: 200;
    text-shadow: 1px 1px 1px #1abc9c, 2px 2px 1px #3498db, 3px 3px 1px #ff688b;
}

h2 {
    color: #222;
    font-size: 2em;
    font-weight: 200;
}

hr {
    margin-left: 0;
    padding-left: 0;
	width: 100%;
	min-width: 840px;
    border: 0;
    border-top: 1px solid #ccc;
}

pre {
    background-color: #E8E8E8;
    margin-left: 30px;
    padding: 5px;
    width: 80%;
}

code {
    background-color: #E8E8E8;
    padding-left: 3px;
    padding-right: 3px;
}

pre {
    background-color: #E8E8E8;
    margin-left: 30px;
    padding: 5px;
    width: 80%;
}

table {
    border: none;
}

td {
    vertical-align: top;
    padding: 0 5px;
}

td.date, td.categories {
    width: 100px;
}

td.title {
    width: 200px;
}

a:hover {
    color: #696969;
}

#app > main {
	width: 780px;
	margin: 0 auto;
	display: block;
}

#app > main > section {
    margin-bottom: 50px;
}

#app > nav {
    position: relative;
    height: 0;
}

#app > nav > ul {
	position: relative;
    width: 780px;
    margin: 0 auto;
    top: -63px;
}

#app > nav > ul > li {
    float: right;
    height: 43px;
    list-style: none;
    padding: 10px;
    line-height: 43px;
    font-size: .9em;
}

nav a,
nav a:visited,
nav a:active {
    color: #555;
    font-weight: 700;
    text-shadow: -1px -1px 0 #eee;
    text-decoration: none;
}

nav a:hover {
    color: #000;
}


#home {
    height: 335px;
    position: relative;
    background: url(resources/img/landscape.svg);
    margin-bottom: 0 !important;
}

#home h1 {
    position: absolute;
    width: 100%;
    top: 28%;
    text-align: center;
}

#home p {
    position: absolute;
    width: 100%;
    top: 54%;
    text-align: center;
}


#projects ul {
    padding: 0;
    margin: 0;
}

#projects li {
    display: inline-block;
    list-style: none;
    padding: 10px 25px;
    background: #eee;
    border: 1px solid #bbb;
    box-shadow: 1px 1px 3px rgba(0,0,0,.2);
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    margin-right: 25px;
    width: 376px;
    height: 200px;
    vertical-align: middle;
}

#projects li:last-child {
    margin-right: 0;
}

.project h2 {
    text-shadow: -1px -1px 1px #eee;
}

.project .desc {
    height: 2.3em;
}

.project p a {
    color: darkblue;
}

footer {
	clear: both;
	width: 100%;
}

article {
	margin: 10px 0;
}

article h2 > a,
article h2 > a:visited,
article h2 > a:active {
    color: #222;
    text-decoration: none;
}

article .entry {
	margin-left: 5px;
	padding: 10px;
}

article .entry img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

article header span {
	margin-right: 10px;
    color: #aaa;
    font-weight: 300;
}

article header .date {
    font-style: italic;
}

article header h2 {
    margin-bottom: 3px;
}

section address {
    margin-left: 15px;
}

#paginator {
    padding: 10px;
}

#paginator a {
    text-decoration: none;
}

.more {
    margin-left: 80%;
}

#app > footer {
    width: 100%;
}

#app > footer > div {
    width: 780px;
    margin: 0 auto;
    padding: 10px;
    color: #aaa;
    font-weight: 300;
}
